*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}

.login{
    
    background: white ;
    width: 430px;
    height: 550px;
    padding: 40px 35px 35px 35px;
    /* border: .1px solid #5b5656; */
    border-radius: 40px;
    box-shadow: 10px 10px 15px rgb(102, 100, 100),
                -15px -15px 15px rgb(254, 254, 254);

}

.title{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 85px;
    letter-spacing: .37em;
    color: rgb(87, 58, 227);
    font-weight: 700;

}

.fields{
    width: 100%;
    padding: 30px 10px 10px 10px;
}

.fields input{
    background: none;
    width: 90%;
    border: none;
    outline: none;
    color: rgb(7, 7, 7);
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

.username, .password{
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px rgb(48, 46, 46), 
                inset -2px -2px 6px rgb(255, 255, 255);

}

.fields i{
    padding-left: 10px;
    height: 23px;
    color:  rgb(87, 58, 227);
}

.signin{
    width: 100%;
    height: 50px;
    border: none;
    background-color:rgb(87, 58, 227);
    color: white;
    font-size: 15px;
    letter-spacing: .2em;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    
}